.nav-color {
    background-color: #006A96;
}

.nav-options-color {
    background-color: #00AFD7;
    padding-left: 2%;
}

.text-color {
    color: white;
}

.tamano-img {
    padding-right: 2%;
    padding-top: 1%;
}

.pad-2 {
    padding-left: 2%;
}

.tamano-icon {
    height: 30px;
    padding-top: 20%;
    color: white;
}